<div class="App">
<div>
<header class="App-header">
  <p class="small">
     <h2>ChatGPT Response:</h2>
        <p><%= @reply %></p>
    </p>
  </div>
<%= form_with url: "/chat", method: :post do |form| %>
  <%= form.label :Message %>
  <%= form.text_field :message %>
<%# <%= button_to 'Call Action',  method:"/chat" :post %> %>

   
<% end %>
</div>
